
@media (min-width: 992px) and (max-width: 1200px) {
    .new-navbar_menu-left-desctop{
      font-size: 14px; /* Adjust the font size of menus in the custom breakpoint */
    }
    .new-navbar_dropdown-toggle , .new-navbar_link {
      padding: .5rem 0.75rem; /* Adjust the padding of menus in the custom breakpoint */
    }
    header h1 {
      font-size: 3rem; /* Adjust the font size of header texts in the custom breakpoint */
    }
    header p {
      font-size: 14px; /* Adjust the font size of p texts and their width in header in the custom breakpoint */
      width: 81%;
    }
  }